
.moviesListCardDiv {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
    margin-left: 70px;
    grid-row-gap: 10px;
}

.PaginationForMovieDiv {
    margin: 20px 0 20px 580px;
}

.inputSearch {
    height: 50px;
    width: 200px;
    padding-left: 20px;
    border-radius: 5px;
    border: 2px solid #ff0000;
    background: #ffffff;
    color: black;
}

.formContainer {
    margin-top: 20px;
    text-align: center;
}


@media screen and (min-width: 1920px) {
    .moviesListCardDiv {
        margin-left: 98px;
    }

    .PaginationForMovieDiv {
        margin: 20px 0 20px 825px;
    }

}
