.header {
    background: black;
    height: 6vh;
    width: 80vw;
    border-radius: 0 0 5px 5px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    align-items: center;
}

.header a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    margin-left: 10px;
}

.header a[class='active'] {
    color: gold;
}

.header div a:first-of-type {
    margin-left: 120px;
}

.textDatabase {
    color: white;
    font-size: 30px;
    margin-left: 50px;
}

.textTheme {
    color: white;
    font-size: 30px;
    margin-left: 120px;
    margin-right: 15px;
}

.iconUser {
    margin-left: 60px;
}

.headerDark {
    background: #847394;
}

.headerDark a {
    color: black;
}

.headerDark p {
    color: black;
}

@media screen and (min-width: 1920px) {

    .header div a:first-of-type {
        margin-left: 290px;
    }
    .textTheme {
        margin-left: 220px;
    }
    .textDatabase {
        color: white;
        font-size: 30px;
        margin-left: 80px;
    }
    .iconUser {
        margin-top: 7px;
    }

}