.moviesListCardDiv {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
    margin-left: 60px;
    grid-row-gap: 10px;
}

.PaginationForMovieDiv{
    margin: 20px 0 20px 580px;
}
@media screen and (min-width: 1920px) {
    .moviesListCardDiv {
        margin-left: 98px;
    }

    .PaginationForMovieDiv {
        margin: 20px 0 20px 825px;
    }

}